<html>
    <head>
        <title>AI Face Generate</title>
    </head>
    <body style="text-align: center;">
        <h1>AI Face Generate</h1>
        <form method="post">
            <p>N: <input type="number" name="n" value="{{ n }}" required></p>
            
            <p>
                Gender: 
                <select name="gender" required>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Random</option>
                </select>
            </p>
            <p><input type="submit" value="Generate"></p>
        </form>
        {% if view_image %}
            <p><span>N: {{ n }}</span></p>
            <p><span>Gender: {{ gender }}</span></p>
            <p><img src="{{ img }}"></p>
        {% endif %}
    </body>
</html>